* {
    margin: 0 auto;
    padding: 0;
}
  

#shelf{
    margin-top:10px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding:10px;
    gap:16px;
    width:90%;
    border:1px black solid;
}


.newbook, .header{
    display:flex;
    justify-content: center;
}


#open{
    cursor: pointer;
}

.header{
    margin-top:20px;
    font-size:32px;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif
}

.formfield{
    
    display:flex;
    justify-content: center;
    width:300px;

}

.formleft{
    padding-top:4px;
    display:flex;
    flex: 1;
    justify-content:right;
}

.formright{
    padding-top:4px;
    padding-left:4px;
    flex: 3;
    text-align:left;
    
}


/* Info on styling dialog modal:  https://developer.mozilla.org/en-US/docs/Web/API/HTMLDialogElement/showModal */
dialog{
    padding-top:150px;
    margin-top: 10%;
    width:400px;
    height:300px;
}


dialog::backdrop{
  opacity:70%;
  background-color:black;
}


.book{
    display:grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    padding:6px;
    width:150px;
    max-width:320px;
    height:200px;
    border:3px black solid;
}


.removediv{
    display:flex;
    width:100%;
    justify-content:right;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}


.remove{
    font-size:20px;
    color:red;
    position: relative;
    cursor:pointer;
    top:0px;
    left:66px;
}

.title{
    font-size:24px;
    font-weight:bold;
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.author{
    padding-top:10px;
    font-size:18px;
    text-align:center;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.bookid{

    padding:20px;
    font-size:11px;
    display:flex;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}